<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>结果详情页面</title>
	<link rel="stylesheet" type="text/css" href="css/detail.css">
</head>
<body>
	<div class="header">
		<div class="logo">quick shoping</div>
		<div class="input">
			<form action="" method="post">
				<input type="text" name="keyword" class="keyword" required="required">
				<input type="submit" class="button">
			</form>
		</div>
	</div>
	<div class="content">
        {% for item in goods %}
		<div class="item">
			<a href={{ item.url }}>
				<div class="imagecontainer">
					<img src={{ item.picture }} class="image">
				</div>
			</a>
			<div class="price">￥100</div>
			<a href={{ item.url }}>
				<div class="name">{{ item.name }}</div>
			</a>
			<div class="source"><span>{{ item.source }}</span></div>
		</div>
		{% endfor %}

	</div>
	<div class="page">
		<div class="perpage">
			<ul class="link">
				<li>上一页</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>下一页</li>
			</ul>
		</div>
	</div>
</body>
</html>