<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>结果详情页面</title>
	<link rel="stylesheet" type="text/css" href="/static/css/detail.css">
</head>
<body>
	<div class="header">
		<div class="logo">quick shoping</div>
		<div class="input">
			<form action="/polls/postKeyword" method="post">
				<input type="text" name="keyword" class="keyword" required="required" id="goodword" value={{item.keyword }}>
				<input type="submit" class="button">
			</form>
		</div>
        <div>
            {% for item in goods|slice:":1" %}
                    <form action="/polls/barrage" method="post">
                        <input type="hidden" name="barrage_kw"  value={{item.keyword }}>
                        <button type="submit" style="    border: none;background-color: #ff000000;">
                            <img style="position: absolute;  right: 0;top: 0; border: 0;z-index:999999999" src="/static/images/ribbon.png" alt="Barrage" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png">
                        </button>
                    </form>
            {% endfor %}
		</div>
	</div>
	<div class="content" target="_blank">
        {% for item in goods %}
		<div class="item">
			<a href={{ item.url }} target="_blank">
				<div class="imagecontainer">
					<img src={{ item.picture }} class="image" target="_blank">
				</div>
			</a>
			<div class="price">{{ item.price }}</div>
			<a href={{ item.url }} target="_blank">
				<div class="name">{{ item.name }}</div>
			</a>
			<div class="source"><span>{{ item.source }}</span></div>
		</div>
		{% endfor %}

	</div>
    <div class="page">
    <div class=perpage">
    <nav aria-label="Page navigation">
        <ul class="link">
            {% if goods.has_previous %}
                <a href="?page={{ goods.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
            {% for pg in goods.paginator.page_range %}
                {% if goods.number == pg %}
                    <li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
                {% else %}
                    <li><a href="?page={{ pg }}">{{ pg }}</a> </li>
                {% endif %}
            {% endfor %}
            {% if goods.has_next %}
                <a href="?page={{ goods.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            {% endif %}
        </ul>
    </nav>
    </div>
    </div>
</body>
</html>