<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>主页</title>
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="content">
		<div class="logo">
			<img src="" class="image">
		</div>
		<div class="title">quick shopping</div>
		<div class="keyword">
			<form method="post" action="/polls/postKeyword">
                {% csrf_token %}
				<input type="text" name="keyword" class="input" required="required"><br>
				<input type="submit" class="button" value="Search">
			</form>
		</div>
	</div>
</body>
</html>